.footer {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-bottom: 2.5rem;

    &-wrapper {
        display: grid;
        grid-template-columns: 2fr 6fr;
        padding-top: 2.2rem;
        width: 100%;

        .footer-logo {
            grid-column: span 1;
            display: flex;
            flex-direction: column;
            gap: 0.4rem;
            font-size: x-small;
        }

        .footer-links {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1.5rem;
            padding: 0px 5px;

            span {
                font-weight: 700;
            }

            .link-section {
                display: flex;
                flex-direction: column;
                gap: .2rem;
                font-size: .78rem;

                a {
                    font-size: .68rem;
                    color: var(--color-text-light);
                }
            }
        }
    }
}