.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .63rem;
    margin-bottom: .2rem;
    width: 28rem;
    text-align: center;
    letter-spacing: .5px;

    @media (max-width: 480px) {
        width: 18rem;
    }

    &-title {
        font-size: 2.5rem;
        font-weight: 300;
    }

    &-subtitle {
        font-size: .83rem;
        color: var(--color-text-light);
    }
}