.table {
    width: 100%;
    margin-left: 0;

    @media (max-width: 768px) {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    @media (max-width: 480px) {
        max-width: 320px;
    }

    li {
        display: grid;
        grid-template-columns: 37% 63%;
        align-items: center;
        width: 100%;
        height: 2rem;
        padding: .3rem .6rem;
        border-bottom: 1px solid var(--color-separator);

        @media (max-width: 480px) {
            height: 3rem;
        }

        p {
            margin-bottom: 0;
            font-size: .7rem;
            font-weight: 800;
        }

        .table-tail {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            span,
            p {
                justify-self: center;
            }

            svg {
                height: 1rem;
            }
        }
    }

    .table-header {
        font-size: .7rem;
    }
}