.card {
    display: flex;
    width: 100%;
    max-width: 400px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--color-card-border);
    border-radius: .5rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: all .2s ease-in-out;
    overflow: hidden;
    cursor: pointer;


    @media (max-width: 480px) {
        max-width: 230px;
    }

    &-header {
        text-align: center;
        width: 100%;
        padding: .6rem 0;
        background-color: var(--color-card-bg);
        border-bottom: 1px solid var(--color-card-border);
        transition: all .3s ease-in-out;
    }

    &:hover {
        border: 1px solid var(--color-card-selected);

        .card-header {
            color: white;
            background-color: var(--color-card-selected);
            border-bottom: 1px solid var(--color-card-selected);
        }
    }

    &-body {
        padding: .5rem 1rem;
        justify-self: end;
        width: 100%;
        height: 100%;

        .card-price {
            font-size: 1.7rem;
            font-weight: 600;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            text-align: center;
            margin-bottom: .5rem;

            span {
                font-weight: 200;
                color: var(--color-text-light);
            }
        }

        .card-description {
            display: flex;
            flex-direction: column;
            gap: .1rem;
            text-align: center;
            font-size: 0.68rem;
        }

    }

    &-footer {
        padding: .6rem .8rem;
        width: 100%;
    }
}