.form-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    margin-bottom: 5rem;
}

.server-error-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}